[submodule "system/web/extern/ace-builds"]
	path = system/web/extern/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "system/web/jagaimo"]
	path = system/web/jagaimo
	url = https://github.com/SanshiroEnomoto/jagaimo.git
[submodule "system/web/autocruise"]
	path = system/web/autocruise
	url = https://github.com/SanshiroEnomoto/autocruise.git
