
services:
  pgsql_db:
    image: postgres:16
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=slowdash
      - POSTGRES_PASSWORD=slowdash
      - POSTGRES_DB=SlowTestData


  mysql_db:
    image: mysql:8.0
    restart: always
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=slowdash
      - MYSQL_DATABASE=SlowTestData
      - MYSQL_USER=slowdash
      - MYSQL_PASSWORD=slowdash


  influxdb:
    image: influxdb:2
    restart: always
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=slowdash
      - DOCKER_INFLUXDB_INIT_PASSWORD=slowdash
      - DOCKER_INFLUXDB_INIT_ORG=sloworg
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=slowtoken
      - DOCKER_INFLUXDB_INIT_BUCKET=SlowTestData


  redis:
    image: redis/redis-stack:7.2.0-v10
    restart: always
    ports:
      - "6379:6379"
      - "8001:8001"


  rabbitmq:
    image: rabbitmq:4-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=slowdash
      - RABBITMQ_DEFAULT_PASS=slowdash


  mqtt:
    image: eclipse-mosquitto:latest
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/log:/mosquitto/log
      - ./mosquitto/data:/mosquitto/data


  notebook:
    image: slowproj/slowpy-notebook:latest
    command:
      - start-notebook.sh
      - --NotebookApp.token=SlowJupyter
    ports:
      - 8888:8888
    extra_hosts:
      - "host.docker.internal:host-gateway"
      
    # To use the volume mount, make the "notebooks" directory before starting this container.
    # volumes:
    # - ./notebooks:/home/jovyan


  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.0.2
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - ./esdata:/usr/share/elasticsearch/data
      